Installing Relevant Libraries

In [3]:
# !pip install pyspark
# !pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-win_amd64.whl (10.7 MB)
     --------------------------------------- 10.7/10.7 MB 17.7 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\witeo\documents\tutorials\pyspark tutorial\pyspark_tut_venv\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.25.1-cp310-cp310-win_amd64.whl (15.0 MB)
     --------------------------------------- 15.0/15.0 MB 20.4 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in d:\witeo\documents\tutorials\pyspark tutorial\pyspark_tut_venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.1 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
pd.read_csv("test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv("test1.csv")

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [10]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [16]:
df_pyspark = spark.read.option('header', "true").csv("test1.csv")

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]

In [19]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)